In [1]:
# https://github.com/Tony-xy-Liu/cpsc445/blob/main/hw/02/q5.ipynb

# #from R:
# gene = pbmc@assays$RNA@var.features
# x = pbmc@assays$RNA@data[gene,]
# x = t(as.matrix(x))
# write.table(x, file="pbmc.csv", sep = ',', row.names=TRUE, col.names=TRUE)
# write.table(pbmc@meta.data, file="pbmc_meta.csv", sep = ',', row.names=TRUE, col.names=TRUE)

import pandas as pd
import numpy as np

df = pd.read_csv('../01/pbmc.csv')
cluster_names = ["Naive CD4 T", "CD14+ Mono", "Memory CD4 T", "B", "CD8 T", "FCGR3A+ Mono", "NK", "DC", "Platelet"]
FMONO = "FCGR3A+ Mono"
NK = "NK"
print(df.shape)
df.head()

(2638, 2000)

,PPBP,LYZ,S100A9,IGLL5,GNLY,FTL,PF4,FTH1,GNG11,S100A8,...,GADD45G,MKNK1,AURKC,VOPP1,RHOC,CISH,CD27,LILRA3,WBP5,CLIC2
AAACATACAACCAC-1,0.000000,1.635873,0.000000,0.0,0.000000,3.924095,0.0,2.226555,0.0,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,3.075915,0.0,0.0,0.0
AAACATTGAGCTAC-1,0.000000,1.962726,0.000000,0.0,0.000000,3.063189,0.0,3.574384,0.0,0.000000,...,0.000000,0.0,0.0,1.111715,0.0,0.0,1.111715,0.0,0.0,0.0
AAACATTGATCAGC-1,0.000000,1.995416,0.000000,0.0,1.429744,3.274161,0.0,3.582238,0.0,0.000000,...,1.429744,0.0,0.0,0.000000,0.0,0.0,1.429744,0.0,0.0,0.0
AAACCGTGCTTCCG-1,1.566387,4.521175,3.838845,0.0,0.000000,5.692271,0.0,5.919842,0.0,2.515108,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
AAACCGTGTATGCG-1,0.000000,0.000000,0.000000,0.0,3.453545,5.218589,0.0,3.453545,0.0,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0

In [2]:
meta = pd.read_csv('pbmc_meta.csv')
print(meta.shape)
meta.head()

(2638, 7)

,cell,orig.ident,nCount_RNA,nFeature_RNA,percent.mt,RNA_snn_res.0.5,seurat_clusters
0,AAACATACAACCAC-1,pbmc3k,2419,779,3.017776,2,2
1,AAACATTGAGCTAC-1,pbmc3k,4903,1352,3.793596,3,3
2,AAACATTGATCAGC-1,pbmc3k,3147,1129,0.889736,2,2
3,AAACCGTGCTTCCG-1,pbmc3k,2639,960,1.743085,1,1
4,AAACCGTGTATGCG-1,pbmc3k,980,521,1.224490,6,6

In [10]:
fmono_cells = meta[meta["seurat_clusters"] == cluster_names.index(FMONO)]["cell"].values
fmono_cells[:3], fmono_cells.shape

(array(['AAACGCTGTTTCTG-1', 'AAATCAACCCTATT-1', 'AAATCATGACCACA-1'],
       dtype=object),
 (162,))

In [11]:
nk_cells = meta[meta["seurat_clusters"] == cluster_names.index(NK)]["cell"].values
nk_cells[:3], nk_cells.shape

(array(['AAACCGTGTATGCG-1', 'AAATTCGATTCTCA-1', 'AACCTTACGCGAGA-1'],
       dtype=object),
 (155,))

In [19]:
fmono_feats = df[df.index.isin(fmono_cells)]
nk_feats = df[df.index.isin(nk_cells)]

In [25]:
from scipy import stats

res = stats.ttest_ind(fmono_feats["FCGR3A"].values, nk_feats["FCGR3A"].values, equal_var=False)
res

Ttest_indResult(statistic=6.201983066702088, pvalue=1.9829015768110337e-09)