In [45]:
import pandas as pd
import numpy as np
from scipy.stats import f_oneway
from sklearn.linear_model import LinearRegression

from sklearnex import patch_sklearn
patch_sklearn()

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [28]:
df = pd.read_csv('hw-data - q3.csv')
df

    A   B   C   D
0   1   3   7  -9
1  -2  -4  -2   3
2  -9  -9   6  10
3  -7  -1  -1   5
4   4  -5   3  -4
5   6  -7   8  -6
6  -8 -10   5   7
7  -5  -8   4  -8
8 -10  -2  10   2
9  -3  -6   9  -1

In [29]:
oh_map = {}
for i, c in enumerate(df.columns):
    one_hot = [-1]*len(df.columns)
    one_hot[i] = 1
    oh_map[c] = one_hot
rows = []
for i, row in df.iterrows():
    for c in df.columns:
        x = oh_map[c]
        y = row[c]
        rows.append((x, y))

model = LinearRegression(fit_intercept=False)
model.fit(
    [x for x, y in rows],
    [y for x, y in rows],
)
model.coef_

array([-0.8, -1.6,  3.3,  0.8])

In [46]:
from scipy import stats

stats.f.stats(29, 18, moments="mvsk")

(1.125, 0.2805572660098522, 1.8065676503195025, 7.074636015325671)

In [38]:
df["A"].to_numpy()

array([  1,  -2,  -9,  -7,   4,   6,  -8,  -5, -10,  -3])

In [42]:
[v for v in df["A"]]

[1, -2, -9, -7, 4, 6, -8, -5, -10, -3]

In [43]:
[-0.8]*len(df)

[-0.8, -0.8, -0.8, -0.8, -0.8, -0.8, -0.8, -0.8, -0.8, -0.8]

In [50]:
yp = [v for v in df["A"]]
yt = [-0.8]*len(df)
# f1_score(yt, yp)

In [25]:
# yea, idk
# https://www.geeksforgeeks.org/how-to-perform-an-f-test-in-python/
import numpy as np
import scipy.stats
  
# Create data
group1 = [0.28, 0.2, 0.26, 0.28, 0.5]
group2 = [0.2, 0.23, 0.26, 0.21, 0.23]
  
# converting the list to array
x = np.array(group1)
y = np.array(group2)
  
# calculate variance of each group
print(np.var(group1), np.var(group2))
  
def f_test(group1, group2):
    f = np.var(group1, ddof=1)/np.var(group2, ddof=1)
    nun = x.size-1
    dun = y.size-1
    p_value = 1-scipy.stats.f.cdf(f, nun, dun)
    return f, p_value

# perform F-test
f_test(x, y)

0.010464 0.00042400000000000017

(24.679245283018858, 0.004431318383760985)

In [47]:
import pandas as pd
import numpy as np
from scipy.stats import f_oneway
from sklearn.linear_model import LinearRegression

from sklearnex import patch_sklearn
patch_sklearn()

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [48]:
df = pd.read_csv('hw-data - q3.csv')
df

    A   B   C   D
0   1   3   7  -9
1  -2  -4  -2   3
2  -9  -9   6  10
3  -7  -1  -1   5
4   4  -5   3  -4
5   6  -7   8  -6
6  -8 -10   5   7
7  -5  -8   4  -8
8 -10  -2  10   2
9  -3  -6   9  -1

In [49]:
f_oneway(*[df[c] for c in df.columns])

F_onewayResult(statistic=7.071518721076987, pvalue=0.000741535861105175)

In [ ]:
# https://byjus.com/anova-formula/

class Category:
    def __init__(self, name: str, n: int, mean: float, stddev: float) -> None:
        self.name = name
        self.n = n
        self.mean = mean
        self.stddev = stddev
        self.sq_stddev = stddev**2

def anova(categories: list[Category]):
    p = len(categories)